main {
    background-color: #42693f;
    max-width: 1920px;
    min-height: 100vh;
    width: 100%;
    box-shadow: 0 0 5px #42693f55;
    margin: 0 auto;
}


header {
    max-width: 1920px;
    overflow: visible;
    width: 100%;
    height: 80px;
    padding: 0 35px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #42693fee;
    backdrop-filter: blur(3px);
    left: 50%;
    transform: translate(-50%);
}


header img {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
}


header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}


header nav img {
    border: none;
    border-radius: 0;
    width: 37px;
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}


header nav img:active {
    opacity: 0.3;
    cursor: default;
}


header nav ul {
    display: flex;
    gap: 20px;
    height: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}


header nav ul li a {
    text-decoration: none;
    color: #dddddd;
    transition: 0.3s;
    cursor: pointer;
}


header nav ul li a:hover,
header nav ul li a:focus {
    color: #ffffff;
}


header nav ul li a:active {
    opacity: 0.2;
    cursor: default;
}


header nav ul button {
    background-color: #578053;
    color: #dddddd;
    font-weight: 600;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #30482eaa;
    cursor: pointer;
    transition: 0.2s;
}


header nav ul button:hover,
header nav ul button:focus {
    background-color: #458140;
}


header nav ul button:active {
    color: #34ff41;
    background-color: #436740;
    cursor: default;
}


.underline a {
    position: relative;
    display: inline-block;
    height: 25px;
    align-content: center;
}


.underline a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease;
}


.underline a:hover::after,
.underline a:focus::after {
    width: 100%;
}


.tooltip {
    position: fixed;
    background-color: #2e4b2caa;
    backdrop-filter: blur(5px);
    color: #fffc5c;
    padding: 10px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1000;
}

.tooltip.visible {
    opacity: 1;
}



/* BURGER */
#burger {
    display: none;
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}


#burger:active {
    opacity: 0.5;
    cursor: default;
}


#second-nav {
    position: fixed;
    background-color: #222222cc;
    top: 71px;
    right: 25px;
    width: 360px;
    padding: 5px;
    border-radius: 5px;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    gap: 3px;
    transition: 0.3s;
}


#second-nav p {
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 0.5px solid #888888;
    transition: 0.3s;
}


#second-nav p:hover,
#second-nav p:focus {
    background-color: #eeeeeeaa;
    color: #42693f;
    letter-spacing: 1px;
}



/* Responsive */
@media only screen and (max-width: 920px) {
    header {
        height: 70px;
        padding: 0 25px;
    }

    header nav ul li, #btn-adherer {
        display: none;
    }

    header img {
        width: 50px;
        height: 50px;
    }

    header nav img {
        width: 33px;
    }

    #burger {
        display: block;
    }
}



@media only screen and (max-width: 640px) {
    #second-nav {
        right: 50%;
        transform: translateX(50%);
        width: 97%;
    }
}