<main>
  <header>
    <img src="/logos/logo-white.svg" alt="logo">
    <nav>
      <ul>
        <li class="underline"><a href="#">ACCUEIL</a></li>
        <li class="underline">
          <a href="#" 
            (mousemove)="showTooltip($event, 'histoire - valeurs')" 
            (mouseleave)="hideTooltip()">
            LE MOUVEMENT
          </a>
        </li>
        <li class="underline">
          <a href="#" 
            (mousemove)="showTooltip($event, 'Programme')" 
            (mouseleave)="hideTooltip()">
            NOTRE VISION
          </a>
        </li>
        <li class="underline"><a href="#">ACTUALITES</a></li>
        <button type="button" id="btn-adherer">ADHÉRER</button>
        <button type="button">DONNER</button>
      </ul>
      <img src="/icons/human-green.svg" alt="human">
      <img id="burger" [src]="burgerSrc()" (click)="toggleBurger()" alt="">
    </nav>

    <!-- nav burger -->
    @if (burgerDisplay()) {
      <nav id="second-nav">
        <p>ACCUEIL</p>
        <p>LE MOUVEMENT</p>
        <p>NOTRE VISION</p>
        <p>ACTUALITÉS</p>
      </nav>
    }

  </header>

  <!-- Bulle de tooltip -->
  <div 
    class="tooltip" 
    [ngStyle]="{'top.px': tooltipY, 'left.px': tooltipX}" 
    [class.visible]="tooltipVisible">
    {{ tooltipText }}
  </div>
  <router-outlet />
</main>
