

.video-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}


.video-container video {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  pointer-events: none;
}


.video-title {
  position: absolute;
  width: 390px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  animation: fadeInTitle 1s ease-out;
}


.video-title::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #4fa649aa;
  backdrop-filter: blur(3px);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 40%;
  animation: anim-width-h1 1s ease-out forwards;
}


@keyframes anim-width-h1 {
  from {
    width: 0%;
  } to {
    width: 100%;
  }
}


@keyframes fadeInTitle {
  from {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


.video-title h1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
}


.video-title h3 {
  position: relative;
  padding-bottom: 5px;
  margin-top: -5px;
}


.video-title h3::after {
  content: '';
  position: absolute;
  z-index: 1;
  background-color: red;
  backdrop-filter: blur(3px);
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 10%;
  animation: anim-width-h1 2s ease-out forwards 1s;
}


.video-title p {
  margin-top: 5px;
  font-size: 0.9rem;
  letter-spacing: 2px;
  background-color: #42693f;
  padding: 5px 20px;
  color: white;

  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  animation: anim-width 1.5s ease-out forwards;
  width: 0; /* important: start at 0 */
  height: 30px;
  text-align: center;
} 


@keyframes anim-width {
  from {
    width: 0%;
  } to {
    width: 80%;
  }
}


.video-container img {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#photo-profil {
  width: 260px;
  z-index: 2;
}

#logo-transparent {
  width: 280px;
  opacity: 0.6;
  animation: rotation-logo 10s linear infinite;
  pointer-events: none;
}

@keyframes rotation-logo {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}




#socials-container {
  width: 100%;
  height: 40vh;
  text-align: center;
  align-content: center;
}


#socials-container h1 {
  color: #42693f;
  margin-bottom: 20px;
}


#socials-container #socials {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 20px;
}


#socials-container #socials img {
  width: 35px;
}
