<main>
  <aside class="video-container">
    <video
      #videoPlayer
      class="video-bg"
      muted
      autoplay
      loop
      playsinline
      (loadedmetadata)="onVideoLoaded()"
    >
      <source [src]="videoSrc" type="video/mp4" />
      Votre navigateur ne supporte pas la vidéo HTML5.
    </video>

    <!-- Texte centré -->
    <div class="video-title">
      <h1>SÉNÉGAL</h1>
      <h3>BI ÑU BOKK</h3>
      <p>{{ displayText }}</p>
    </div>

    <img id="photo-profil" src="/photos/diaz-profil.png" alt="photo profil" />
    <img id="logo-transparent" src="/logos/logo-transparent-letters.svg" alt="logo transparent" />
  </aside>

  <section id="socials-container">
    <h1>NOUS SUIVRE</h1>
    <div id="socials">
      <a href="#">
        <img src="/icons/icon-twitter.svg" alt="">
      </a>
      <a href="#">
        <img src="/icons/icon-facebook.svg" alt="">
      </a>
      <a href="#">
        <img src="/icons/icon-instagram.svg" alt="">
      </a>
      <a href="#">
        <img src="/icons/icon-linkedin.svg" alt="">
      </a>
      <a href="#">
        <img src="/icons/icon-telegram.svg" alt="">
      </a>
      <a href="#">
        <img src="/icons/icon-youtube.svg" alt="">
      </a>
    </div>
  </section>
</main>
